<section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
					<a href="/api" class="button is-rounded is-primary is-large is-fullwidth">Dokumentacja API</a>
					<br />
					<a href="/feedbacks" class="button is-rounded is-info is-large is-fullwidth">Opinie</a>
				</div>
			</div>
		</div>
</section>

				